.list-element
{
    margin-top: 20px;
    
    text-align:center;



    .element
    {
        text-align: center;        

        border-bottom: solid 1px $couleur-4;
        display: inline-block;
        margin-right: -0.25em;
        padding-top:10px;
        padding-bottom: 10px;
        width: 100%;


        &:hover
        {
            background-color: lighten($couleur-4, 25);
            cursor: pointer;
        }
        

        span
        {
            display: block;
            
            a
            {
                text-decoration: none;
            }
            
        }


        &:before,
            &:after {
            content: " "; /* 1 */
            display: table; /* 2 */
        }

        &:after {
            clear: both;
        }

        .element-apercu
        {
            height: 150px;
            width: 150px;       
            overflow: hidden;
            margin-left: auto;
            margin-right: auto;
            
            text-align: center;
            line-height: 150px;
            
            img{
                max-width: 100%;
                max-height: 100%;
                vertical-align: middle;
                
            }

        }
        .element-titre, .element-titre a
        {
            font-size: 1.2em;
            font-weight: bold;
            color: $couleur-1;
        }
        
        .element-titre a:active
        {
            color:$couleur-3;
        }
        
        .element-prix
        {
            font-size: 1.4em;
            font-weight: bold;
            color: $couleur-5;
        }

        .element-category
        {
            a
            {
                font-style: italic;
                color:$couleur-1;
                font-size: 1.2em;

                &:hover
                {
                    color:$couleur-4;
                }
            }    
        }
        .element-lieu
        {
            font-weight: bold;
        }
    }

    @media screen and (min-width: 500px) {
        .element{
            width: 50%;
        }
    }

    @media screen and (min-width: 1000px){
        
        text-align:left;
        
        .element{
            width: 100%;
            text-align: left;

            .element-apercu
            {
                float: left;
                max-width: 10%;
                margin: 10px;
            }
        }
    }



}