{% extends 'main.html.twig' %}



{% block content %}
	<script src="/assets/js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="/assets/js/visionner_photos.js" type="text/javascript" charset="utf-8"></script>

    <div class="detail">

        {% block rendu %}
            
        {% endblock %}
        <h1>{{annonce.titre}}</h1>



	        <div class="container-float">
        	{% if photos is not null %}
	            <div class="carre-float">
	                <img class='grande' src="{{photos[0]}}" alt="photo de l'objet"/>
	            </div>
	            <div class='carre-float'>
	            	{% for photo in photos %}
	            		<img class="mini" src="{{photo}}" alt="photo de l'objet" />
	            	{% endfor %}
	                 
	            </div>
	            
	            
        	{% endif %}
	            <div class='carre-float liens'>
	                <a href='/annonce/modifier/{{annonce.id}}'>Modifier l'annonce</a><br />
	                <a href="/annonce/supprimer/{{annonce.id}}">Supprimer l'annonce</a>
	            </div>
	        </div>

        <p><b>Prix :</b> {{annonce.prix}} €</p>
        <p><b>Vendeur :</b> {{annonce.auteur}}</p>
        <p><b>Lieu :</b> {{annonce.ville}}, {{annonce.code_postal}} {{annonce.departement.nom}}</p>
        <p><b>Description :</b><br /> 
			{{annonce.description | nl2br}}
        </p>
        
        {% include "annonce_coordonnees_vendeur.html.twig" %}
        

        <a class='bouton' id="btnCoor" href="#" >Contacter le vendeur</a>

    </div>
{% endblock %}