<div class="coordonnees">
    <p><b>Mailto :</b> <a href="mailto:{{annonce.mail}}">{{annonce.mail}}<a/> </p>
    <p><b>Tel :</b> <a href="tel:{{annonce.telephone}}">{{annonce.telephone}}<a/> </p>
</div>
<script src="/assets/js/coordonnees_vendeur.js" type="text/javascript" charset="utf-8"></script>