{% extends "main.html.twig" %}

{% block content %}
    <h1>Rechercher mes annonces</h1>

    <form action="{{action}}" method="{{method}}">

        <fieldset>
            <legend>Votre adresse électronique</legend>

            <label for="mail">Addresse électronique </label><input type="email" id="mail" name="mail">
            <input type="submit" class="bouton" id="valider" value="Valider">
        </fieldset>
    </form>
{% endblock %}