{% extends "main.html.twig" %}

{% block content %}
    <script src="/assets/js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/assets/js/supprimer_annonce.js" type="text/javascript" charset="utf-8"></script>
    <h1>Supprimer l'annonce: {{annonce.titre}}</h1>
    <p><b>Vendeur :</b> {{annonce.auteur}}</p>
    <form action="{{action}}" method="{{method}}">

        <fieldset>
            <legend>{{message}}</legend>

            <label for="mdp">Mot de passe </label><input type="password" id="mdp" name="mdp">
            <input type="hidden" name="id_annonce" value="{{annonce.id}}"/>
            <input type="submit" class="bouton" id="valider" value="Valider">
            <a href="/annonce/{{annonce.id}}" class="bouton">Retour à l'annonce</a>
        </fieldset>

    </form>


{% endblock %}