{% extends 'main.html.twig' %}

{% block content %}

<h1>{{nom_form}}</h1>

        <form name="form_annonce" action="{{action}}" method="{{method}}" enctype="multipart/form-data">
            <fieldset>
                <legend>Localisation</legend>

                {% if form.token is defined %}
                    <input type="hidden" name="token" value="{{form.token}}">
                {% endif %}


                <label for="departement">Département</label>
                <select id="departement" name="departement">
                    <option selected disabled>Choisir un département</option>
                    
                	{% for dep in departements %}
                        <option 
                        {% if form.id_dep == dep.id %}
                            selected 
                        {% endif %}
                        value="{{ dep.id }}">{{ dep.nom }} ( {{dep.code}} )</option>
                        
                	{% endfor %}

                </select>

                <label for="ville">Ville</label><input id="ville" name="ville" type="text" value="{{form.ville}}">
                <label for="code_postal">Code postal</label><input id="code_postal" name="code_postal" type="text" value="{{form.code_postal}}">
            </fieldset>

            <fieldset>
                <legend>Vos informations</legend>

                <label for="pseudo">Pseudonyme</label><input type="text" id="pseudo" name="pseudo" value="{{form.auteur}}">
                <label for="mail">Adresse email</label><input type="email" id="mail" name="mail" value="{{form.mail}}">
                <label for="telephone">Téléphone</label><input type="tel" id="telephone" name="telephone" value="{{form.telephone}}">

                {% if form is not defined %}
                <label for="mdp">Mot de passe (minimum : 6 caractères)</label><input id="mdp" type="password" name="mdp" >
                <label for="confirm_mdp">Confirmer mot de passe</label><input id="confirm_mdp" type="password" name="confirm_mdp">

                <i>Ces informations seront requises si vous souhaitez éditer votre annonce à l'avenir.</i>
                {% endif %}
            </fieldset>

            <fieldset>
                <legend>Annonce</legend>
                
                <label for='titre'>Titre de l'annonce</label><input type='text' name='titre' value="{{form.titre}}">
                
                <label for='categorie'>Catégorie</label>
                <select id="categorie" name="categorie">
                        <option disabled selected>Choisir une catégorie</option>

                    {% for cat in categories %}
                        <option 
                        {% if form.categ_id == cat.id %}
                            selected 
                        {% endif %}
                	    value="{{ cat.id }}">{{cat.nom}}</option>
                	{% endfor %}
                        
                </select>
                

                
                <label for='description'>Description</label>
                
                <textarea id="description" name='description' cols='50' rows='10'>{{form.description}}</textarea>


                <label for="prix">Prix</label><input id="prix" step="any" type="number" name="prix" value="{{form.prix}}">
                
                {% if form is not defined %}
                    <label>Image 1</label><input type='file' name='photos[]'>
                    <label>Image 2</label><input type='file' name='photos[]'>
                    <label>Image 3</label><input type='file' name='photos[]'>
                    <label>Image 4</label><input type='file' name='photos[]'>
                {% endif %}
                
                <div class="boutons">                    
                    <input type='submit' name='valider' id="valider" class='bouton' value='Valider'>

                    {% if form is not defined %}
                    <input type="submit" name='rendu' class='bouton' value='Prévisualiser'>
                    {% endif %}
                </div>
                
            </fieldset>

        </form>

        <script src="/assets/js/jquery.min.js"></script>
        <script src="/assets/js/validate.min.js"></script>
        <script src="/assets/js/validation_form_annonce.js"></script>
    
{% endblock %}

