{% extends 'main.html.twig' %}

{% block content %}

<h1>Inscription</h1>

<form name="form_inscription" action="{{action}}" method="{{method}}" accept-charset="utf-8">

{% if message is not null %}
<div class="error">
	<span>{{message}}</span>
</div>
{% endif %}

<fieldset>
	<legend>Informations de connection</legend>


	<label for="email">Adresse e-mail</label>
	<input type="mail" name="email" value="{{preremp.email}}" placeholder="Votre adresse e-mail">

	<label for="mdp">Mot de passe (minimum : 6 caractères)</label>
	<input type="password" name="mdp" value="" placeholder="Mot de passe">

	<label for="confirm_mdp">Confirmez votre mot de passe</label>
	<input type="password" name="confirm_mdp" value="" placeholder="Confirmation de mot de passe">

	

</fieldset>

<fieldset>
	<legend>Vos coordonnées</legend>

	<label for="pseudo">Pseudonyme</label>	
	<input type="text" name="pseudo" value="{{preremp.pseudo}}" placeholder="Login">

	<label for="prenom">Votre prénom</label>
	<input type="text" name="prenom" value="{{preremp.prenom}}" placeholder="Votre prénom">	

	<label for="nom">Votre nom</label>
	<input type="text" name="nom" value="{{preremp.nom}}" placeholder="Votre nom">

	<label for="telephone">Numéro de téléphone</label>
	<input type="text" name="telephone" value="{{preremp.telephone}}" placeholder="Votre numéro de téléphone">

	<label for="adresse">Votre adresse (numéro et rue)</label>
	<input type="text" name="adresse" value="{{preremp.adresse}}" placeholder="11, rue du racoin">

	<label for="ville">Votre ville</label>
	<input type="text" name="ville" value="{{preremp.ville}}" placeholder="Votre ville">

	<label for="departement">Votre département</label>
	<select name="departement">
		<option value="" selected disabled>Département</option>

                    
                    
        {% for dep in departements %}
            <option 
                {% if preremp.departement == dep.id %}
                    selected 
                {% endif %}
            value="{{ dep.id }}">{{ dep.nom }} ( {{dep.code}} )</option>
                        
        {% endfor %}
		
	</select>

	</fieldset>

	<fieldset>
		<legend>Préférences</legend>

		<label >Catégorie préférée</label>
		<select value="" name="categ">
			<option selected disabled>Catégorie</option>
        	{% for cat in categories %}
                
                <option 
                {% if preremp.categ == cat.id %}
                    selected 
                {% endif %}
        	    value="{{ cat.id }}">{{cat.nom}}</option>
        	{% endfor %}
		</select>
		<div class="boutons">
			<input class='bouton' type="submit" name="submit" value="Valider">
		</div>
	</fieldset>

</form>

<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/validate.min.js"></script>
<script src="/assets/js/validation_form_inscription.js"></script>

{% endblock %}