<div class="element">

                <div class='element-apercu'><img src="{{photos[annonce.id]}}" alt="photo de l'objet"/></div>
                <span class='element-titre'><a href="{{links[annonce.id]}}">
                	{{ annonce.titre }}
                </a></span>
                <span class='element-category'><a href="{{links_categ[annonce.id]}}">{{ annonce.categorie.nom }}</a></span>
                <span class='element-date'>Le {{annonce.created_at | date("d/m/Y")}} à {{annonce.created_at | date("H:m")}}</span>
                <span class='element-lieu'>{{annonce.ville}}, {{ annonce.departement.nom}} ({{annonce.departement.code}})</span>
                <span class='element-prix'>{{annonce.prix}} €</span>

</div>