{% extends 'main.html.twig' %}

{% block content %}
<div class="list-element">

	{% if categorie is not null %}

	<h1>{{ categorie.nom }}</h1>

	{% endif %}

    {% for annonce in annonces %}

        {% include "liste_annonces_element.html.twig" %}

    {% endfor %}
    <script src="/assets/js/jquery.min.js" type="text/javascript" charset="utf-8" ></script>
    <script src="/assets/js/liste_annonce_cliquable.js" type="text/javascript" charset="utf-8"></script>

</div>
{% endblock %}