<!DOCTYPE html>
<html>
<head>
	<title>{{ title }}</title>	
	<link rel="stylesheet" href="/assets/css/main.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/>

	<meta charset="utf-8"/>
</head>
<body>

	{% block header %}
		{% include "header.html.twig" %}
	{% endblock %}

	{% block menu %}
		{% include "menu.html.twig" %}
	{% endblock %}

	{% block search %}
		{% include "searchbar.html.twig" %}
	{% endblock %}

	{% block content %}

	{% endblock %}

	{% block footer %}

	{% endblock %}


</body>
</html>