{% extends 'main.html.twig' %}

{% block content %}
<div class="profil">
	
    <h1>Votre profil</h1>

    <label>Pseudo</label>
    <span>{{user.pseudo}}</span>

    <label>Adresse e-mail</label>
    <span>{{user.email}}</span>

    <label>Prénom</label>
    <span>{{user.prenom}}</span>

    <label>Nom</label>
    <span>{{user.nom}}</span>

    <label>Téléphone</label>
    <span>{{user.telephone}}</span>

    <label>Adresse</label>
    <span>{{user.adresse}}</span>

    <label>Ville</label>
    <span>{{user.ville}}</span>

	

</div>
{% endblock %}