{% extends 'annonce.html.twig' %}

{% block rendu %}

<div class="boutons">


<form action="{{action}}" method="POST">
	
	<input type="submit" class='bouton' name='valider' value="Valider l'annonce">
	<input type="submit" class='bouton' name='annuler' value="Annuler">


</form>	


</div>
    
{% endblock %}