<div class='search'>

            <form action="{{ searchbar.action }}">


                <input class='input-search' type='search' name="title" placeholder="Recherche" id="searchbar" value="{{preremp.nom}}" />
                <input class='input-search' type='text' name="prix" placeholder="Prix maximum" value="{{preremp.prix}}"/>


                <select name="categorie" class='input-search'>
                    <option value="0" selected>Toutes les catégories</option>                   
                    
                    {% for categ in searchbar.categories %}
                        <option 
                        {% if categ.id == preremp.categ_select %}
                            selected 
                        {% endif %}
                        value="{{ categ.id }}"> {{ categ.nom }}</option>                        
                    {% endfor %}

                </select>


                <select name="departement" class='input-search'>
                    <option value="0" selected>Tous les départements</option>
                    {% for dep in searchbar.departements %}
                        <option 
                        {% if dep.id == preremp.depart_select %}
                             selected
                        {% endif %}
                        value="{{ dep.id }}">{{dep.nom}} - {{dep.code}}</option>
                        
                    {% endfor %}
                </select>


                
                <input class='input-search' name="ville" type="text" placeholder="Lieu précis (Ville, Code postal)" value="{{preremp.ville}}">
                <input class='bouton' type="submit" id="chercher" value="Chercher">

            </form>

        </div>
